@import "tailwindcss";


@theme {
--font-inter: "Inter", sans-serif;
  --breakpoint-xs: 375px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1920px;
}
.Roboto {
 font-family: var(--font-roboto);
}
* {
  font-family:"Inter", sans-serif;
}

